@model IEnumerable<webMVC.Models.StudentsModel>

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<p>
    <a asp-action="AddStudent">Add Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStudent", new {  id=item.StudentId  }) |
                @Html.ActionLink("Details", "StudentDetails", new {  id=item.StudentId  }) |
                    @Html.ActionLink("Delete", "DeleteStudent", new {  id=item.StudentId  }, new { onclick = "return confirm('Are you sure you want to delete this student?')" })
            </td>
        </tr>
}
    </tbody>
</table>
